@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Open Sans", sans-serif;
    color: white;
}

body {
    background-color: #040428;
}

header {
    position: sticky;
    top: 0;
}

nav {
    height: 72px;
    width: 100%;
    background: #0f0f39;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

ul {
    list-style: none;
}

hr {
    height: 1px;
    margin: 34px auto;
    width: 80vw;
    border: none;
    background: #b5b5ff;
}

h1 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
    margin: auto;
    height: 256px;
    background-color: #000013;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 0px;
}